[submodule "themes/even"]
	path = themes/even
	url = https://github.com/goodking-bq/hugo-theme-even.git
[submodule "public"]
	path = public
	url = https://github.com/goodking-bq/goodking-bq.github.io.git
